@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  
}
.slider{
  border-radius: 10px;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
body{
  background-color: antiquewhite;
}
#soporte{
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  
}
#cripto{
  font-weight: 500;
}
.carusel{
  height: 25rem;
}
.noticias{
  
  padding: 10px;
}